In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

**Super Market example**

In [ ]:
1-stats.t.cdf(2.23,df=79)#( t value ,sample size =n-1)

0.014292908802574056

In [ ]:
#call center example
#1-stats.t.cdf(1.4,49) its right part of bell curve
#stats.t.cdf(-1.4,49) here its left part
r=2*stats.t.cdf(-14,49)
print("rounded value = ",round(r,4))

rounded value =  0.0

**Call center example**

In [ ]:
t=(4.6-4)/(3/np.sqrt(50))
t

1.4142135623730943

In [ ]:
p=2*stats.t.cdf(-1.41,49)
p

0.1648559451804547

**One tail test**

In [ ]:
data=pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [ ]:
p=stats.ttest_1samp(data,0.3)[1] # 1 is index of 2 nd  value
#mu=0.3,p=p1+p2
print(p)

0.05853032968489765

In [ ]:
stats.ttest_1samp(data,0.3)#this command gives you the 2 tail p value
#t value =2.2050588385131595, pvalue=0.05853032968489765 here, p=p1+p2
#index of t value is 0 and p value is 1

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [ ]:
#as this is  a one tail test p value so divide by 2 to get final p value
pval=p/2
pval
#null hypo . is mu<=0.3,alter .hypo .is mu>0.3
#alpha=0.05,p value we got is 0.29 so p<alpha .so reject Null hypothesis
#so go for alt hypo
#interpret it : As mean value mu >0.3 factory is causing probelm

0.029265164842448826

**Two tail test**

In [ ]:
#2 sample 2 tail test
#comparing drugs -control group and treatement group
control=pd.Series([91,87,99,77,88,91])
treat=pd.Series([1010,110,103,93,99,104])

In [ ]:
stats.ttest_ind(control,treat)#2 tail independent
#p=p1+p2 , we r conducting 2 sample 2 tail test , so no need to divide p by 2
#p=0.006, alpha =0.05,p<alpha so reject null hypo .so accept alt hypo
#interpretataion :2 responses are not equal so drug is working

Ttest_indResult(statistic=-1.0853358575398122, pvalue=0.3032438197121077)

**2 propotion test**

In [ ]:
#data:placemnt data example
n1=247
p1=.37

n2=308
p2=.39 #proportion is 0.39

In [ ]:
#As they vent given total data we r generating random data using binomial function
pop1=np.random.binomial(1,p1,n1)#1 placed i.e probability of success , o not placed
pop2=np.random.binomial(1,p2,n2)# as its a random function every time you execute , you will get

In [ ]:
pop1

array([1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1])

In [ ]:
pop2

array([1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0])

In [ ]:
import statsmodels.api as sm
sm.stats.ttest_ind(pop1, pop2)#middle is the p value
#p>0.05 sp accept null hypo
#interpretation :students are almost equally got placed in 2 states
#i.e no significant difference in providing placement oppurtunities to students in  states

(0.839529216229, 0.4015351845885454, 553.0)

In [ ]:
#import statsmodels.api as sm
p=0.05

pop1=np.random.binomial(1,p1,n1)
pop2=np.random.binomial(1,p2,n2)

x=sm.stats.ttest_ind(pop1, pop2)[1] # 1 is the index of p value which ismiddle 1
print(round(x,3))

if x>p:
  print(f'Accept null hypothesis\n---------')
else:
  print(f'failed to reject the null hypothesis\n---------')

0.828
Accept null hypothesis
---------